@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw; height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: yellowgreen;
}

.game-board{
    width: 100%; height: 100vh; /*vmin*/
    /* border: 7px inset gray; */
    background-image: url('grass.png');
    background-position: center;
    background-repeat: repeat; /*no-repeat*/
    
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake{
    width: 50px; height: 50px; /*70px*/
}
 
.snake:nth-child(1){
    background-image: url('/Custom/black.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; /*100%*/
}

.snake-body{
    /*background-image: url('food.png');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #74482c;
    border: 1px solid #422d23;
    width: 50px; height: 50px;
} 

.game-board .snake{
    grid-column-start: 11;
    grid-row-start: 11;
}

/* .game-board .snake-body{
    grid-column-start: 11;
    grid-row-start: 10;
} */

h1{
    font-family: 'Press Start 2P', cursive;
    margin-top: 57px;
    letter-spacing: 0.17em;
}

.loading img{
    margin-left: 17%;
}